/*
Project Name: Relaxr Landing Page
Author: Emily Pecot
Front End Developer @GA in NYC
*/
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}
html {
	font-family:'Open Sans', sans-serif;
	font-size: 26px;
	text-align: center;
}
.header {
	background: url('../images/header_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    border: white;
    padding-top: 5px;
	font-family:'Open Sans', sans-serif;
	font-size: 48px;
	color: #FFFFFF;
}
h1 {
	text-align: left;
	padding-top: 20px;
	padding-left: 60px;
	font-weight: 800;
}
.getit {
	color: black;
	background: #f9e42e;
	font-weight: bold;
	font-size: 28px;
	padding: 10px 60px 10px 60px;
	border: none;
	border-radius: 4px;
	margin-bottom: 400px;
	margin-top: 30px;
}
h2 {
	padding-top: 80px;
	font-weight: 600;
}
h3 {
	font-weight: 600;
	font-size: 40px;
	text-align: left;
	padding-top: 40px;
}
p {
	text-align: left;
}
.benefits {
	padding-left: 65px;
	padding-top: 30px;
	background-color: #f0efef;
}
ul { 
  list-style: disc inside;
  text-align: left;
  margin-left: 70px;
  line-height: 35px;
  padding-bottom: 60px;

}
.testimonial {
	background: url('../images/testimonial_bg.jpg');
	color: white;
	font-style: italic;
	font-size: 36px;
	padding: 70px 100px 70px 100px;
	line-height: 45px;
}
#amanda {
	line-height: 25px;
	font-style: normal;
	font-size: 36px;
	font-weight: 600;
}
.footer {
	font-weight: extra-bold;
	font-size: 48px;
	background-color: #121212;
}
.signup {
	color: white;
	background: #033048;
	font-weight: bold;
	font-size: 28px;
	padding: 15px 60px 15px 60px;
	box-shadow: none;
	border-radius: 4px;
	border-color: #f9e42e;
	border-style: solid;
	border-width: 30px 480px 30px 480px;
}
footer {
	background-color: #121212;
}
#logo {
	padding: 60px;
	padding-bottom: 30px;
	color: #f9e42e;
	font-size: 48px;
	font-weight: 800;
}
.copyright {
	font-size: 18px;
	font-weight: 300;
	color: white;
	padding-top: 80px;
	padding-bottom: 50px;
}
